// global ----------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $montserrat;
  font-size: 14px;
  background-color: $Cream;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
